*{
    box-sizing: border-box;
}

#allContainer{
    margin:auto;
    width: 800px;
    height: auto;
    border: 1px solid blue;
    border-right:0px;
    border-left:0px;
}
#titleBox{
    padding: 10px;
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
    height:50px;
}
.title{
    width: 50px;
    display:inline-block;

}
.textTitle{
    width: 100%;
}
/* .decoButtons{
 //일단 틀만 만들자
} */ 
#textBox{
    padding:10px;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:400px;

}
.textContent{
    width: 80%;
    height: 300px;
}
#buttonBox{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
}
/* .submit{

} */