<form action="/user/login" id="login" method="post" enctype="application/x-www-form-urlencoded" />
<div>
  <div>
    <label for="id"> ID : </label>
    <input type="text" id="id" name="id" />
  </div>
  <div>
    <label for="pw"> PW : </label>
    <input type="password" name="pw" id="pw" />
  </div>
</div>
<button>Log In</button>
<a href="/regist"><button type="button">Regist</button></a>
</form>

<!-- for에서 id와 같은걸 찾는다. 그래서 label을 클릭하면 입력칸에서 입력할 수 있게된다. -->