<form action="/user/regist" id="login" method="post" enctype="application/x-www-form-urlencoded" />
<div>
  <div>
    <label for="name">Name : </label>
    <input type="text" id="name" name="name" />
  </div>
  <div>
    <label for="pw"> PW : </label>
    <input type="password" name="pw" id="pw" />
  </div>
</div>
<div>
  <div>
    <label for="id"> ID : </label>
    <input type="text" id="id" name="id" />
  </div>
  <div>
    <label for="pwr">PW-R : </label>
    <input type="password" name="pwr" id="pwr" />
  </div>
</div>
<button>Regist</button>
<a href="/"><button type="button">cancel</button></a>
</form>

<!-- for에서 id와 같은걸 찾는다. 그래서 label을 클릭하면 입력칸에서 입력할 수 있게된다. -->